In [32]:
# Import the pathlib and csv library
from pathlib import Path
import csv

# Set the file path
csvpath = Path('../PyBank/budget_data.csv')

In [33]:

# Initialize list of profit and loss
Profit_Loss = []

#Initialize list of dates
PL_Date = []

#Initialize line_num variable
line_num = 0
net_pnl = 0

average_delta = 0
minimum = 0
maximum = 0

In [34]:
# Open the csv file as an object
with open(csvpath, 'r') as csvfile:

    # Print the datatype of the file object
    print(type(csvfile)) 
    
    # Pass in the csv file to the csv.reader() function
    # (with ',' as the delmiter/separator) and return the csvreader object
    csvreader = csv.reader(csvfile, delimiter=',')
    # Print the datatype of the csvreader
    print(type(csvreader))

    # Read the header row first (skip this step if there is no header)
    csv_header = next(csvreader)
    
    # Print the header
    print(f"{csv_header} <----HEADER")
    # Read each row after the header
    for row in csvreader:
        line_num += 1
        net_pnl += int(row[1])
        # Print the row
        print(row)
    # Set date variable equal to column 1
    date = str(row[0])
    # Append the date values to a list
    PL_Date.append(date)
    # Set profit variable equal to column 2
    # Keep String Header, but integers for the 2nd column
    profit = int(row[1])
    # Append the profit values to a list
    Profit_Loss.append(profit)
    print(PL_Date)
    print(Profit_Loss)

<class '_io.TextIOWrapper'>
<class '_csv.reader'>
['Date', 'Profit/Losses'] <----HEADER
['Jan-2010', '867884']
['Feb-2010', '984655']
['Mar-2010', '322013']
['Apr-2010', '-69417']
['May-2010', '310503']
['Jun-2010', '522857']
['Jul-2010', '1033096']
['Aug-2010', '604885']
['Sep-2010', '-216386']
['Oct-2010', '477532']
['Nov-2010', '893810']
['Dec-2010', '-80353']
['Jan-2011', '779806']
['Feb-2011', '-335203']
['Mar-2011', '697845']
['Apr-2011', '793163']
['May-2011', '485070']
['Jun-2011', '584122']
['Jul-2011', '62729']
['Aug-2011', '668179']
['Sep-2011', '899906']
['Oct-2011', '834719']
['Nov-2011', '132003']
['Dec-2011', '309978']
['Jan-2012', '-755566']
['Feb-2012', '1170593']
['Mar-2012', '252788']
['Apr-2012', '1151518']
['May-2012', '817256']
['Jun-2012', '570757']
['Jul-2012', '506702']
['Aug-2012', '-1022534']
['Sep-2012', '475062']
['Oct-2012', '779976']
['Nov-2012', '144175']
['Dec-2012', '542494']
['Jan-2013', '359333']
['Feb-2013', '321469']
['Mar-2013', '67780']
['Apr-2013', '471435']
['May-2013', '565603']
['Jun-2013', '872480']
['Jul-2013', '789480']
['Aug-2013', '999942']
['Sep-2013', '-1196225']
['Oct-2013', '268997']
['Nov-2013', '-687986']
['Dec-2013', '1150461']
['Jan-2014', '682458']
['Feb-2014', '617856']
['Mar-2014', '824098']
['Apr-2014', '581943']
['May-2014', '132864']
['Jun-2014', '448062']
['Jul-2014', '689161']
['Aug-2014', '800701']
['Sep-2014', '1166643']
['Oct-2014', '947333']
['Nov-2014', '578668']
['Dec-2014', '988505']
['Jan-2015', '1139715']
['Feb-2015', '1029471']
['Mar-2015', '687533']
['Apr-2015', '-524626']
['May-2015', '158620']
['Jun-2015', '87795']
['Jul-2015', '423389']
['Aug-2015', '840723']
['Sep-2015', '568529']
['Oct-2015', '332067']
['Nov-2015', '989499']
['Dec-2015', '778237']
['Jan-2016', '650000']
['Feb-2016', '-1100387']
['Mar-2016', '-174946']
['Apr-2016', '757143']
['May-2016', '445709']
['Jun-2016', '712961']
['Jul-2016', '-1163797']
['Aug-2016', '569899']
['Sep-2016', '768450']
['Oct-2016', '102685']
['Nov-2016', '795914']
['Dec-2016', '60988']
['Jan-2017', '138230']
['Feb-2017', '671099']
['Feb-2017']
[671099]

In [35]:
print(line_num)

86

In [36]:
print(net_pnl)

38382578

In [37]:
import pandas as pd
df=pd.read_csv(csvpath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [38]:
df["Delta"]=df["Profit/Losses"].diff()
df.head()

       Date  Profit/Losses     Delta
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [39]:
max_delta = df["Delta"].max()

In [40]:
min_delta = df["Delta"].min()

In [41]:
mean_delta = df["Delta"].mean()

In [49]:
print(max_delta)

1926159.0

In [42]:
print("Financial Analysis")
print("-----------------------------------------------")
print(f"Total Months: {line_num}")
print(f"Total: ${net_pnl}")
print(f"Average Change: ${round(mean_delta,2)}")
print(f"Greatest Increase in Profits: Feb-2012 (${max_delta})")
print(f"Greatest Decrease in Profits: Sept-2013 (${min_delta})")

Financial Analysis
-----------------------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sept-2013 ($-2196167.0)

In [50]:
file_to_output = Path("ouput.csv")
with open(file_to_output, 'w') as txt_file:
    txt_file.write(f"Financial Analysis")
    txt_file.write(f"----------------------------")
    txt_file.write(f"Total Months: {line_num}")
    txt_file.write(f"Total: ${net_pnl}")
    txt_file.write(f"Average  Change: ${round(mean_delta,2)}")
    txt_file.write(f"Greatest Increase in Profits: Feb-2012 (${max_delta})")
    txt_file.write(f"Greatest Decrease in Profits: Sept-2013 (${min_delta})")